/* General custimatations */

.Titulos{
    color: #E7E7EB; 
    font-weight: 500;
    background-color: transparent;
}

.Numeros{
    color: #E7E7EB;
    font-weight: 700;
    font-size: 4rem;
    background-color: transparent;
}

.Measured{
    color: #E7E7EB;
    font-weight: 400;
    font-size: 2.8rem;
    background-color: transparent;
}

.PrincipalContenedorCards{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.medidasCard{
    display: flex;
    align-items: center;
    background-color: transparent;
    gap: .2rem;
}

.pruebaCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 85%;
    background-color: #100E1D;
    gap: 2rem;
    margin: 2rem 0;
}

/* styles for the tittle */

.TitulocardBlock{
    display: flex;
    justify-content: flex-start;
    width: 85%;
}

.TitulocardBlock >h2{
    color: #E7E7EB ;
    font-weight: 700;
    text-align: left;
}

/* styles for the first two blocks */

.TwoBlock{
    background-color: #1E213A;
    width: 100%;
    height: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* First block */

.circulo{
    border-radius: 25px;
    background-color:#6E707A ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circulo>img{
    object-fit: contain;
    padding: .5rem;
    background-color: transparent;
}

.medidasCard.one{
    gap: .5rem;
}

.digitos{
    background-color: transparent;
    color: #E7E7EB;
    font-weight: 500;
    font-size: .9rem;
}

.medidasCard.barra{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 3rem;
}

.subtitlebar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: transparent;
}

.par{
    color: #A09FB1;
    background-color: transparent;
}

.contBarrita{
    width: 100%;
    height: 100%;
    border: 1px solid #A09FB1;
    border-radius: 80px;
    background-color: transparent;
}


.barritaColor{
    background-color: #FFEC65;
    width: 80%;
    height: 100%;
}


.porcentajeHumidity{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    background-color: transparent;
}

/*  second block for the last two blocks */

.LastBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color:#1E213A;   
    height: 11rem;
}

/* RESPONSIVE DESIGN */

@media screen and (min-width: 1024px) {
    .PrincipalContenedorCards{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .pruebaCard{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        gap: 3rem;
        margin: 0;
    }

    .TitulocardBlock{
        width: 100%;
        padding: 0 0 1.5rem 1.8rem;
    }



    .TwoBlock{
        width: 43%;
        height: 10rem;
    }

    .LastBlock{
        width: 43%;
        height: 9rem;
    }
}

