.mainCont{
    background-color: #1E213A;
    height: 100vh;
    width: 100%;
    
}
/* This is for the search button and log */
.Location{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1E213A;
    padding: 1rem 1rem;
}

.btn{
    background-color: #6E707A;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #E7E7EB;
    width: 45%;
    height: 2.5rem;
}

.containerLogo{
    border-radius: 25px;
    background-color: #6E707A;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LImagen{
    background-color: transparent;
}

.principalImg{
    background-image: linear-gradient(rgba(30,33,58,0.9), rgba(30,33,58,0.9)),url("/Cloud-background.png") ;
    background-position: center;
    background-size: 32rem 20rem;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    background-color: #1E213A;
}

.ImagenCont{
    width: 11rem;
    height: 11rem;
    background-color: transparent;
}

.IPrin{
    object-fit: contain;
    height: 100%;
    width: 100%;
    background-color: transparent;
}

/* SECOND SECTION */
.SecondSection{
    display: flex;
    background-color: #1E213A;
    flex-direction: column;
    align-items: center;
    height: 21rem;
    justify-content: space-between;
}

.letter{
    color: #A09FB1;
    background-color: transparent;
    font-weight: 500;
}

.Ftitle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.letter.title{
    font-weight: 500;
    font-size: 8rem;
    background-color: transparent;
    color: white;
}

.letter.grados{
    font-size: 3rem;
    margin-top: 4rem;
}

.letter.subtitle{
    font-size: 2rem;
    font-weight: 600;
}


.information{
    display: flex;
    background-color: transparent;
    gap: .5rem;
}



.ubicacion{
    display: flex;
    justify-content: center;
    gap: .5rem;
    background-color: transparent;
    
}

.IMG{
    background-color: transparent;
}

/* Search Bar Menu styles */

.ContPrin{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #1E213A;
}

.FirstSec{
    display: flex;
    justify-content: flex-end;
    background-color: #1E213A;
    margin-right: 1rem;
}

.ImCont{
    height: 1.5rem;
    width: 1.5rem;
    background-color: transparent;
}

.ImCont img{
    background-color: transparent;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

/*  */

.SecondSec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1E213A;
    gap: .5rem;
    margin: 1rem;
}

.Clbtn{
    display: flex;
    border: 1px solid #E7E7EB;
    background-color: #1E213A;
    width: 15rem;

}

.searchImg{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E213A;
    height: 3rem;
    width: 3.5rem;
}

.searchImg>img{
    background-color: #1E213A;
    width: 50%;
    height: 50%;
    object-fit: contain;
}


.btn2{
    background-color: #3C47E9;
    width: 5.3rem;
    height: 3.3rem;
    color:#E7E7EB;
    font-weight: 600;
}

input{
    appearance: none;
    border: none;
    background-color:#1E213A;
    width: 100%;
}

/*  */

.ThirdSec{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #1E213A;
    height: 18rem;

}

.letra{
    color: #E7E7EB;
    font-weight: 500;
    background-color: transparent;
    padding: 0 .5rem;
}

.div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
    padding: 1rem 0;
    background-color: transparent;
    position: relative;
}

.sp{
    display: none;
    color: #616475;
    background-color: transparent;
    padding: 0 .5rem;
}

/* It did not work / pending */

.div:hover{
    display: flex;
    justify-content: space-between;
    border: 1px solid #616475;
    transition: 0.4s ease;
}

.div:hover .sp{
    display: flex;
    justify-content: space-between;

}