@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #100E1D;
    font-family: 'Raleway', sans-serif;
}


.GradosOpt{
    display: none;
}


@media screen and ( min-width: 1024px){
    .MainContainerPage{
        display: flex;
        width: 100%;
        
    }
    
    .ContenedorNavBarPage{
        width: 30%;
    }

    .ContenedorInformationPage{
        display: flex;
        flex-direction: column;
        width: 70%;
        align-items: center;
        margin: 2rem 0;
    }

    .contBotones{
        width: 78%;
    }

    .GradosOpt{
        display: flex;
        gap: .8rem;
        justify-content: flex-end;
    }

    .GradosOpt button{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        width: 2.3rem;
        height: 2.3rem;
        background-color: #585676;
        color:#E7E7EB;
        font-weight: 700;
        border: none;
    }

    .GradosOpt button:hover{
        background-color: #E7E7EB ;
        color: #110E3C;
        font-weight: 700;
    }

    .DivCardspage{
        width: 85%;
    }

    .DivBlockpage{
        width: 85%;
    }
}